body {
    background-color: rgb(213, 225, 239);
    font-family: Outfit;
    box-sizing: border-box;
    
}

.container {
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    margin: auto;
    width: 320px;
    height: 499px;
    padding-top: 16px;
    margin-top: 5%;
    filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.15));
}

.qr_code {
    border-radius: 20px;
    margin: auto;

    width: 288px;
    height: 288px;
    overflow: hidden;
}

.text {
    padding-right: 16px;
    padding-left: 16px;
}

.title {
    font-weight: 700;
    text-align: center;
    color: rgb(31, 49, 79);
    font-size: 22px;
    line-height: 120%;
}

p {
    font-weight: 300;
    text-align: center;
    color: rgb(104, 119, 141);
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 140%;
}

@media (max-width: 150px) {
    .container {
        background-color: #ffffff;
        border-radius: 20px;
        position: relative;
        margin: auto;
        width: 320px;
        height: 499px;
        padding-top: 16px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 40px;
        margin-top: 15%;
    }
}